@model IEnumerable<pureba2register.Models.InformacionProfesional>

@{
    ViewBag.Title = "Index";
}

<h2>Informacion Profesional</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div class="formu">
        <div class="form-group row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Tipo De Estudios*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.CarreraProfesional.NombreCarrera)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Nombre/s*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.InformacionPersonal.NombresEgresado)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Tipo De Estudio*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.TipoEstudio.NombreTipoEstudio)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Estudia Actualmente?*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.estudiaActualmente)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Fecha De Terminacion*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.fechaTerminacionProfesional)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="subject">Duracion*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.duracionProfesional)
                </div>
            </div>
       
        </div>
    </div>
    @Html.ActionLink("Edit", "Edit", new { id = item.InformacionProfesionalID }) 
}