@model IEnumerable<pureba2register.Models.ReferenciasPersonales>

@{
    ViewBag.Title = "Index";
}

<h2>Referencias Personales</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <div class="formu">
        <div class="form-group row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nombre/s*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.InformacionPersonal.NombresEgresado)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Tipo De Parentesco*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.Parentesco.TipoParentesco)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Nombre/s*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.TipoReferencia.NombreTipoReferencia)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Primer Apellido*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.primerApellidoReferencia)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Segundo Apellido*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.segundoApellidoReferencia)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="subject">Cargo Que Ocupa*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.cargoReferencia)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="subject">Telefono*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.telefonoFijoReferencia)
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="subject">Telefono Movil*</label>
                        <br>
                        @Html.DisplayFor(modelItem => item.telefonoMovilReferencia)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="subject">Ext*</label>
                        <br>
                        @Html.DisplayFor(modelItem => item.extTelefonoReferencia)
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.ActionLink("Edit", "Edit", new { id = item.referenciasPersonalesID })
}
