@model IEnumerable<pureba2register.Models.InformacionPersonal>

@{
    ViewBag.Title = "Index";
}

<h2>Informacion Personal</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{

    <Div class="formu">
        <Div class="form-group row">

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Nombre/s*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.NombresEgresado)
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Primer apellido*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.PrimerApellidoEgresado)
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Segundo apellido*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.SegundoApellidoEgresado)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="subject"> Fecha De Nacimiento*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.FechaNacimientoEgresado)
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Número de documento*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.NumeroDocumentoEgresado)
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Fecha De Expedición Del Documento*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.FechaExpedicionDocumento)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Sexo*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.SexoEgresado)
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Correo Electronico*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.correoEgresado)
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Direccion De Reciddencia*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.DireccionResidenciaEgresado)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Telefono Movil*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.TelefonoMovilEgresado)
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Telefono Fijo*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.TelefonoFijoEgresado)
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Ext Del Telefono*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.ExtencionTelefonoEgresado)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Numero De Acta De Grado*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.NumeroActaGrado)
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Foto*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.FotoEgresado)
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Estado Del Egresado*</label>
                    <br>
                    @Html.DisplayFor(modelItem => item.EstadoEgresado)
                </div>
            </div>
        </Div>
    </Div>

    

    @Html.ActionLink("Edit", "Edit", new { id = item.InformacionPersonalID })

}
